# Build directories
build/
bin/
lib/

# Compiled files
*.o
*.so
*.a
*.d
*.dict
*.pcm
*.dylib
*.txt
!CMakeLists.txt

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# IDE
.agent
.clangd
.vscode/
.idea/
*.swp
*.swo
*~
.prettierrc.json

# ROOT files
*.root
*.root~
*.png
*.pdf

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# xsdata
OutPut/**/*.csv
OutPut/**/*.dat

# Configuration
config/*
!config/example.json
Simulation/fixm_ffeff
*.pyc

#backup
*.bak